section {
    border: 1px solid black;
}

header {
    height: 50px;
    background-color: lightgreen;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

main {
    margin: 10px auto;
    max-width: 960px;
}
body {
    background-color: linen;
}

/* img {
    
} */