section {
    border: 1px solid black;
}

header {
    background-color: lightgreen;
    /* border-radius: 25px; */
    text-align: center;
    position: fixed;
    width: 1000px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

main {
    background-color: linen;
    margin: 10px auto;
    max-width: 960px;
}
body {
    display: block;
    margin: 0px;
    margin-top: 0;
}

/* img {
    
} */