section {
    border: 1px solid black;
}

header {
    background-color: lightgreen;
    border-radius: 25px;
    text-align: center;
}

main {
    background-color: linen;
}


img {
    float: inline-start;
}